.header-nav{
    display:inline;
}
section{
    float: left;
}
article{
    float: right;
}
p{
    width: 300px;
    height: 60px;
    background: blue;
    margin: 10px;
    /* display: inline-block; */
}
