.container{
    width: 200px;
    min-height: 200px;
    background: peachpuff;
    position: relative;
    top: 20px;
}

.item{
    width: 20px;
    min-height: 20px;
    background: blue;
    position: absolute;
    right: 0;
}